<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%date{yyyy-MM-dd HH:mm:ss}] %X{logthreadId} %-5level %logger{80} %line - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="allLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>[%date{yyyy-MM-dd HH:mm:ss}] %X{logthreadId} %-5level %logger{80} %line - %msg%n</pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>./log/tron_wallet_%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="consoleLog" />
        <appender-ref ref="allLog" />
    </root>

</configuration>